
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

header {
    background-color: #394951;
    color: #fff;

    display: flex;
    justify-content: space-between;
}

header > img {
    width: 15%;
}

header > h3 {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    font-size: 32px;
}


.wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------- hero -------------------- */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/hero-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    color: #fff;
    margin-top: 0;
    padding: 100px;
}

.hero > p {
    font-size: 24px;
}

.hero > h1 {
    font-size: 70px;
    margin: 50px 0;
}

.hero > button {
    padding: 10px 15px;
    background-color: #262a82;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 700;
}
/* -------------------- hero -------------------- */

/* -------------------- listings -------------------- */

.listings {
    padding: 0 100px;
    background-color: #f6f6f6;
}

.listings > h3 {
    color: #5b5b5b;
    text-align: center;
    font-size: 32px;
    margin-top: 0;
    padding-top: 40px;
}

.listings > hr {
    width: 50%;
    color: #000;
    margin-bottom: 60px;
}

.title {
    font-size: 50px;
    text-align: center;
}

.listings-display {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.listing-items {
    margin: 0 10px;
}

.listing-buttons {
    text-align: center;
}

.listing-buttons > button {
    padding: 20px 30px;
    font-size: 22px;
    color: #262a82;
    border: 3px solid #262a82;
    text-transform: uppercase;
}

.listing-buttons > button:active {
    background-color: #fff;
}

/* -------------------- listings -------------------- */

/* -------------------- snippet -------------------- */

.snippet {
    padding: 0 100px;
    text-align: center;
}

.snippet > h3 {
    color: #5b5b5b;
    font-size: 50px;
    margin-bottom: 20px;
}

.snippet > hr {
    width: 50%;
    border: 1px solid #000;
    margin-bottom: 40px;
}

/* -------------------- snippet -------------------- */

/* -------------------- costs -------------------- */

.costs {
    padding: 0 100px;
    display: flex;
    background-color: #f6f6f6;
}

.costs > img {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}
/* -------------------- costs -------------------- */

/* -------------------- how -------------------- */

.how {
    padding: 0 100px;
}

.how > h3 {
    font-size: 58px;
    color: #000;
    margin-bottom: 35px;
}

.how-content {
    display: flex;
}

.how-text > div > h3 {
    font-size: 24px;
    color: #5b5b5b;
}

.how-text > div > p {
    padding: 0 40px;
    color: #757575;
}

.how > button {
    text-align: center;
    padding: 20px 30px;
    background-color: #262a82;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    left: 45%;
}

.how > p {
    font-size: 22px;
}

/* -------------------- how -------------------- */
