body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

header {
    background-color: #394951;
    color: #fff;

    display: flex;
    justify-content: space-between;
}

header>img {
    width: 20%;
}

header>h3 {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    font-size: 32px;
}


.wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------- hero -------------------- */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/hero-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    color: #fff;
    margin-top: 0;
    padding: 100px;
}

.hero>p {
    font-size: 20px;
    font-weight: 700;
}

.hero>#blurb {
    font-weight: 400;
}

.hero>h1 {
    font-size: 70px;
    margin: 50px 0;
}

.hero>button {
    padding: 15px 20px;
    background-color: #262a82;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 700;
}

/* -------------------- hero -------------------- */

/* -------------------- listings -------------------- */

.listings {
    padding: 0 100px;
    background-color: #f6f6f6;
}

.listings>h3 {
    color: #5b5b5b;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    padding-top: 40px;
}

.listings>hr {
    width: 50%;
    border: 1px solid #000;
    border-bottom: none;
    margin-bottom: 60px;
}

.title {
    font-size: 50px;
    text-align: center;
}

.listings-display {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.listing-items {
    margin: 0 10px;
}

.listing-description {
    background-color: #262a82;
    color: #fff;
}

.listing-description>h3 {
    margin: 10px 0;
    font-size: 36px;
}

.listing-description>p {
    margin: 5px 0;
    font-size: 24px;
}

.listing-buttons {
    text-align: center;
}

.listing-buttons>button {
    padding: 20px 30px;
    font-size: 22px;
    color: #262a82;
    border: 3px solid #262a82;
    text-transform: uppercase;
    margin: 0 15px;
    margin-bottom: 30px;
}

.listing-buttons>button:hover {
    background-color: #fff;
    cursor: pointer;
}

/* -------------------- listings -------------------- */

/* -------------------- snippet -------------------- */

.snippet {
    padding: 0 100px;
    text-align: center;
}

.snippet>h3 {
    color: #5b5b5b;
    font-size: 50px;
    margin-bottom: 20px;
}

.snippet>hr {
    width: 50%;
    border: 1px solid #000;
    border-bottom: none;
    margin-bottom: 40px;
}

/* -------------------- snippet -------------------- */

/* -------------------- costs -------------------- */

.costs {
    padding: 0 100px;
    display: flex;
    background-color: #f6f6f6;
}

.costs>img {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------- costs -------------------- */

/* -------------------- how -------------------- */

.how {
    padding: 0 100px;
}

.how>h3 {
    font-size: 58px;
    color: #000;
    margin-bottom: 35px;
}

.how-content {
    display: flex;
}

.how-text>div>h3 {
    font-size: 24px;
    color: #5b5b5b;
}

.how-text>div>p {
    padding: 0 40px;
    color: #757575;
}

.how>button {
    text-align: center;
    padding: 20px 30px;
    background-color: #262a82;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    left: 45%;
}

.how>p {
    font-size: 22px;
}

/* -------------------- how -------------------- */

/* -------------------- bundle -------------------- */

.bundle {
    padding: 40px 100px;
    background-color: #f6f6f6;
}

.bundle>h3 {
    font-size: 60px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 10px;
    color: #5b5b5b;
}

.bundle>p {
    text-align: center;
    color: #5b5b5b;
    margin-bottom: 2px;
    font-size: 20px;
}

.bundle>p>span {
    font-weight: 700;
    color: #000;
    text-decoration: underline;
}

.bundle>hr {
    width: 75%;
    border-bottom: none;
}

.bundle-display {
    display: flex;
    padding: 50px;
}

.bundle-packages {
    text-align: center;
    margin: 0 10px;
}

.bundle-packages {
    text-align: center;
    padding: 0 25px;
}

.bundle>button {
    text-align: center;
    padding: 20px 30px;
    background-color: #262a82;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    left: 45%;
}

.bundle>hr {
    border: 1px solid #000;
    border-bottom: none;
    margin-bottom: 30px;
}

/* -------------------- bundle -------------------- */

/* -------------------- FAQ -------------------- */

.faq {
    text-align: center;
    padding: 0 100px;
}

.faq>h3 {
    text-align: center;
    color: #5b5b5b;
    font-size: 40px;
}

.column>p {
    padding: 0 40px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column>h3 {
    color: #5b5b5b;
}

.column>p {
    font-size: 14px;
}


/* -------------------- FAQ -------------------- */

/* -------------------- get started -------------------- */

.get-started {
    padding: 0 100px;
    background-color: #262a82;
    color: #fff;
    text-align: center;
}

.get-started>h3 {
    font-size: 48px;
    font-weight: 700;
    padding-top: 30px;
}

.get-started>p {
    font-size: 18px;
}

.get-started>button {
    background-color: #fff;
    color: #262a82;
    padding: 20px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* -------------------- get started -------------------- */

/* -------------------- footer -------------------- */

footer {
    background-color: #f6f6f6;
    color: #5b5b5b;
    padding: 0 100px;
}

footer>p {
    /* padding-top: 40px; */
    margin: 0;
    padding: 40px;
}

.closer {
    display: flex;
    justify-content: space-between;
}

.closer>div>h3 {
    margin: 0;
    position: relative;
    top: 40px;
}

.closer>img {
    width: 10%;
    height: 20%;
}

.company-info {
    position: relative;
    bottom: 40px;
}

/* -------------------- footer -------------------- */