@media only screen and (min-width: 601px) and (max-width: 900px) {
  header img {
    width: 25%;
  }

  .hero h1 {
    font-size: 48px;
  }

  .listings {
    padding: 0 50px;
  }

  .listings h3 {
    font-size: 36px;
  }

  .listings-display {
    flex-wrap: wrap;
  }

  .snippet h3 {
    font-size: 36px;
  }

  .how {
    display: flex;
    flex-direction: column;
  }

  .how h3 {
    font-size: 36px;
  }

  .how-content img {
    display: none;
  }

  .how>button {
    left: 0;
    align-self: center;
  }

  .bundle {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
  }

  .bundle-display {
    padding: 0;
    flex-direction: column;
  }

  .bundle h3 {
    font-size: 36px;
  }

  .bundle p {
    font-size: 18px;
  }

  .bundle>button {
    left: 0;
    align-self: center;
  }

  .faq {
    padding: 0 50px;
  }

  .faq h3 {
    font-size: 36px;
  }

  .get-started {
    padding: 0 50px;
  }

  .get-started h3 {
    font-size: 36px;
  }

  .company-info img {
    width: 200px;
  }
}